*{
    margin: 0px;
    padding:0px;
    }

textarea{
    height: 10vh;
    width: 80%;
    display: block;
    margin-left: 5rem;
    margin-top: 2rem;
    padding: 1rem;    
}

#output{
        border: 1px solid black;
        height: 10vh;
        width: 80%;
        padding: 1rem;
        margin-left: 5rem;
        margin-top: 2rem;
        font-style: normal;
}

#txt-input{
    font-style: normal;
    font-weight: 500;
}

h1{
    text-align: center;
    text-shadow: black;
    font-style: normal;
    background: linear-gradient(135deg, #0b43f8, #a777e3);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.div1{
    font-size: larger;
    font-style: normal;
    margin-top: 2rem;
    text-align: center;
    margin-right: 100px !important;
}

#btn-translate{
    margin-top: 2rem;
    margin-left: 40%;
	padding: 1.2em 2em;
	text-decoration: none;
	text-align: center;
    cursor: pointer;
    width: 15%;
    user-select: none;
    font-style: normal;
    background: linear-gradient(135deg, #6989f3, #ab6ef5);
    border-radius: 4px;
}
.about{
    background: linear-gradient(135deg, #6989f3, #c299f5);
    margin-top: 2rem;
    font-style: normal;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.content{
    background: linear-gradient(135deg, #6989f3, #a777e3);
    font-style: normal;
    font-size: large;
    padding-bottom: 4.4rem;
    text-align: center;
    padding-top: 1rem;
}